In [ ]:
import functions

# Part 1 : checking the explanatory variables for regression
We will use the global concatenated table for our regression study to catch explanatory variables among nodes.

In [ ]:
csv_paths = {'node1':'../data/node1_patients/data.csv','node2':'../data/node2_admissions/data.csv','node3':'../data/node3_chartevents/data.csv','node4':'../data/node4_labevents/data.csv'}

global_df = functions.load_and_align_tables(csv_paths)
global_df

In [7]:
_= functions.analyze_dataframe(global_df)

## DATAFRAME OVERVIEW
----------------------------------------

              Metric   Value
0               Rows    3061
1            Columns      39
2     Total Elements  119379
3  Memory Usage (MB)    4.14

## COLUMN INFORMATION
----------------------------------------

                      Column     Type  Unique Values Unique %  Missing Count Missing %
0                     gender   object              2     0.1%              0     0.00%
1                 anchor_age    int64             73     2.4%              0     0.00%
2                anchor_year    int64             95     3.1%              0     0.00%
3          anchor_year_group   object              5     0.2%              0     0.00%
4                        dod   object           1006    32.9%           2043    66.74%
5                    hadm_id    int64           3061   100.0%              0     0.00%
6                  admittime   object           3060   100.0%              0     0.00%
7                  dischtime   object           3061   100.0%              0     0.00%
8                  deathtime   object            213     7.0%           2848    93.04%
9             admission_type   object              9     0.3%              0     0.00%
10         admit_provider_id   object            637    20.8%              1     0.03%
11        admission_location   object             10     0.3%              0     0.00%
12        discharge_location   object             12     0.4%            248     8.10%
13                 insurance   object              5     0.2%             71     2.32%
14                  language   object             22     0.7%             18     0.59%
15            marital_status   object              4     0.1%            342    11.17%
16                      race   object             33     1.1%              0     0.00%
17                 edregtime   object           1824    59.6%           1237    40.41%
18                 edouttime   object           1824    59.6%           1237    40.41%
19      hospital_expire_flag    int64              2     0.1%              0     0.00%
20             hadm_id_node3    int64           3061   100.0%              0     0.00%
21                 charttime   object           3061   100.0%              0     0.00%
22                heart_rate  float64            119     3.9%            540    17.64%
23   blood_pressure_systolic  float64            104     3.4%           2447    79.94%
24  blood_pressure_diastolic  float64             68     2.2%           2577    84.19%
25          respiratory_rate  float64             45     1.5%           1214    39.66%
26                      spo2  float64             21     0.7%           1495    48.84%
27              gender_node3   object              2     0.1%              0     0.00%
28          anchor_age_node3    int64             73     2.4%              0     0.00%
29             hadm_id_node4    int64           3061   100.0%              0     0.00%
30           charttime_node4   object           3061   100.0%              0     0.00%
31             blood_glucose  float64            293     9.6%            535    17.48%
32                hemoglobin  float64            127     4.1%            440    14.37%
33                       wbc  float64            322    10.5%            334    10.91%
34            platelet_count  float64            459    15.0%            402    13.13%
35                creatinine  float64            482    15.7%            327    10.68%
36              gender_node4   object              2     0.1%              0     0.00%
37          anchor_age_node4  float64             73     2.4%              0     0.00%
38                subject_id    int64           3061   100.0%              0     0.00%

## SAMPLE DATA (First 5 rows)
----------------------------------------

  gender  anchor_age  anchor_year anchor_year_group         dod   hadm_id            admittime            dischtime deathtime admission_type admit_provider_id      admission_location        discharge_location insurance language marital_status                    race            edregtime            edouttime  hospital_expire_flag  hadm_id_node3            charttime  heart_rate  blood_pressure_systolic  blood_pressure_diastolic  respiratory_rate   spo2 gender_node3  anchor_age_node3  hadm_id_node4      charttime_node4  blood_glucose  hemoglobin   wbc  platelet_count  creatinine gender_node4  anchor_age_node4  subject_id
0      F          52         2180       2014 - 2016  2180-09-09  22595853  2180-05-06 22:23:00  2180-05-07 17:15:00       NaN         URGENT            P49AFC  TRANSFER FROM HOSPITAL                      HOME  Medicaid  English        WIDOWED                   WHITE  2180-05-06 19:17:00  2180-05-06 23:30:00                     0       29079034  2180-07-23 14:12:00        91.0                      NaN                       NaN              24.0    NaN            F                52       22595853  2180-05-07 05:05:00           99.0        12.7  37.6            71.0         0.3            F              52.0    10000032
1      F          86         2150       2008 - 2010  2152-01-30  26504700  2150-07-03 02:46:00  2150-07-07 15:42:00       NaN       EW EMER.            P46JQK          EMERGENCY ROOM  SKILLED NURSING FACILITY  Medicare  English        WIDOWED                   WHITE  2150-07-02 22:59:00  2150-07-03 03:55:00                     0       25860671  2150-11-02 19:54:00        79.0                      NaN                       NaN              23.0  100.0            F                86       26504700  2150-07-02 23:30:00          144.0        10.3  31.9           306.0        85.0            F              86.0    10000690
2      F          73         2186       2008 - 2010  2193-08-26  29654838  2188-01-03 17:41:00  2188-01-05 17:30:00       NaN       EW EMER.            P63MXO          EMERGENCY ROOM          HOME HEALTH CARE  Medicare  English        MARRIED  BLACK/AFRICAN AMERICAN  2188-01-03 12:23:00  2188-01-03 18:42:00                     0       26913865  2189-06-27 08:54:00         NaN                      NaN                       NaN              23.0    NaN            F                73       29654838  2188-01-03 20:43:00            NaN         NaN   NaN             NaN       198.0            F              73.0    10000980
3      F          55         2157       2011 - 2013         NaN  24597018  2157-11-18 22:56:00  2157-11-25 18:00:00       NaN       EW EMER.            P3610N          EMERGENCY ROOM          HOME HEALTH CARE   Private    Other        MARRIED                   WHITE  2157-11-18 17:38:00  2157-11-19 01:24:00                     0       24597018  2157-11-20 19:19:00        86.0                      NaN                       NaN              18.0   99.0            F                55       24597018  2157-11-20 08:14:00            NaN         NaN   NaN             NaN         0.7            F              55.0    10001217
4      F          46         2110       2011 - 2013         NaN  25563031  2110-04-11 15:08:00  2110-04-14 15:00:00       NaN       EW EMER.            P32W56                    PACU                      HOME   Private  English        MARRIED                   WHITE                  NaN                  NaN                     0       25563031  2110-04-11 15:54:00        55.0                      NaN                       NaN               NaN    NaN            F                46       25563031  2110-04-11 18:02:00          146.0        13.9  39.1           330.0         0.8            F              46.0    10001725

## MISSINGNESS SUMMARY
----------------------------------------
Features with missing values: 19 out of 39
Features with missing values: dod, deathtime, admit_provider_id, discharge_location, insurance, language, marital_status, edregtime, edouttime, heart_rate, blood_pressure_systolic, blood_pressure_diastolic, respiratory_rate, spo2, blood_glucose, hemoglobin, wbc, platelet_count, creatinine

Top features with highest missingness:

                      Column  Missing Count Missing %
8                  deathtime           2848    93.04%
24  blood_pressure_diastolic           2577    84.19%
23   blood_pressure_systolic           2447    79.94%
4                        dod           2043    66.74%
26                      spo2           1495    48.84%
17                 edregtime           1237    40.41%
18                 edouttime           1237    40.41%
25          respiratory_rate           1214    39.66%
22                heart_rate            540    17.64%
31             blood_glucose            535    17.48%

In [ ]:
functions.calculate_mutual_information(global_df,'respiratory_rate')

In [ ]:
functions.calculate_spearman_correlation(global_df,"respiratory_rate")

## Results for regression :
Based on the missingness and the spearman/MI analysis of all features with each other, the resuts are :
- target column : <i>respiratory_rate</i>
- explanatory variables : <i>heart_rate</i> , <i>anchor_age</i> and <i>creatinine</i>

# Part 2 : checking the explanatory variables for classification
We will use the same global table for our classification study.

In [12]:
functions.identify_significant_features(global_df,'insurance')

Analyzing 38 features to identify predictors for 'insurance'

=========================================== Full Analysis Results ===========================================
                     Feature         Type        Test     Statistic       p-value  Effect Size Effect Size Name     Interpretation  Significant  Strong Enough  Recommended  Low Expected Freq  Valid Observations Data Coverage
1                 anchor_age    numerical       ANOVA    527.808817  0.000000e+00     0.414274      Eta squared              Large         True           True         True              False                2990         97.7%
25          anchor_age_node3    numerical       ANOVA    527.808817  0.000000e+00     0.414274      Eta squared              Large         True           True         True              False                2990         97.7%
33          anchor_age_node4    numerical       ANOVA    527.808817  0.000000e+00     0.414274      Eta squared              Large         True           True         True              False                2990         97.7%
10         admit_provider_id  categorical  Chi-square   3796.604790  2.548827e-55     0.326876       Cramer's V  Relatively Strong         True           True         True               True                2989         97.6%
14            marital_status  categorical  Chi-square    321.865476  1.189761e-61     0.196757       Cramer's V               Weak         True           True         True               True                2671         87.3%
12        discharge_location  categorical  Chi-square    364.899230  3.904434e-52     0.170982       Cramer's V               Weak         True           True         True               True                2748         89.8%
13                  language  categorical  Chi-square    311.201743  7.997707e-28     0.138284       Cramer's V               Weak         True           True         True               True                2974         97.2%
15                      race  categorical  Chi-square    333.098508  3.407664e-20     0.131027       Cramer's V               Weak         True           True         True               True                2990         97.7%
22  blood_pressure_diastolic    numerical       ANOVA      6.019366  4.978064e-04     0.036924      Eta squared              Small         True           True         True              False                 475         15.5%
28                hemoglobin    numerical       ANOVA     12.309725  6.460073e-10     0.018907      Eta squared              Small         True           True         True              False                2560         83.6%
29                       wbc    numerical       ANOVA      7.146084  1.014487e-05     0.010636      Eta squared              Small         True           True         True              False                2664         87.0%
18      hospital_expire_flag  categorical  Chi-square     26.862520  2.119250e-05     0.087455       Cramer's V         Negligible         True          False        False               True                2990         97.7%
0                     gender  categorical  Chi-square     13.059487  1.098876e-02     0.055050       Cramer's V         Negligible         True          False        False               True                2990         97.7%
24              gender_node3  categorical  Chi-square     13.059487  1.098876e-02     0.055050       Cramer's V         Negligible         True          False        False               True                2990         97.7%
32              gender_node4  categorical  Chi-square     13.059487  1.098876e-02     0.055050       Cramer's V         Negligible         True          False        False               True                2990         97.7%
11        admission_location  categorical  Chi-square     63.805432  2.906157e-03     0.048239       Cramer's V         Negligible         True          False        False               True                2990         97.7%
3          anchor_year_group  categorical  Chi-square     42.055923  3.870915e-04     0.046702       Cramer's V         Negligible         True          False        False               True                2990         97.7%
9             admission_type  categorical  Chi-square     48.033919  3.415370e-02     0.036627       Cramer's V         Negligible         True          False        False               True                2990         97.7%
6                  admittime  categorical  Chi-square  11957.428984  4.842775e-01     0.021875       Cramer's V         Negligible        False          False        False               True                2990         97.7%
31                creatinine    numerical       ANOVA      4.463716  1.349020e-03     0.006650      Eta squared         Negligible         True          False        False              False                2672         87.3%
23                      spo2    numerical       ANOVA      1.484398  2.044408e-01     0.003876      Eta squared         Negligible        False          False        False              False                1531         50.0%
21   blood_pressure_systolic    numerical       ANOVA      0.763268  5.149508e-01     0.003814      Eta squared         Negligible        False          False        False              False                 602         19.7%
30            platelet_count    numerical       ANOVA      1.151770  3.303049e-01     0.001774      Eta squared         Negligible        False          False        False              False                2598         84.9%
26             hadm_id_node4    numerical       ANOVA      1.131940  3.394938e-01     0.001515      Eta squared         Negligible        False          False        False              False                2990         97.7%
5                    hadm_id    numerical       ANOVA      1.104927  3.523917e-01     0.001478      Eta squared         Negligible        False          False        False              False                2990         97.7%
34                subject_id    numerical       ANOVA      0.714471  5.819532e-01     0.000956      Eta squared         Negligible        False          False        False              False                2990         97.7%
2                anchor_year    numerical       ANOVA      0.119301  9.756705e-01     0.000160      Eta squared         Negligible        False          False        False              False                2990         97.7%
19             hadm_id_node3    numerical       ANOVA      0.072963  9.903289e-01     0.000098      Eta squared         Negligible        False          False        False              False                2990         97.7%
4                        dod  categorical  Chi-square   2945.721567  4.823916e-01     0.000000       Cramer's V         Negligible        False          False        False               True                 992         32.4%
7                  dischtime  categorical  Chi-square  11960.000000  4.879635e-01     0.000000       Cramer's V         Negligible        False          False        False               True                2990         97.7%
8                  deathtime  categorical  Chi-square    588.000000  4.573787e-01     0.000000       Cramer's V         Negligible        False          False        False               True                 196          6.4%
16                 edregtime  categorical  Chi-square   5298.000000  4.857907e-01     0.000000       Cramer's V         Negligible        False          False        False               True                1766         57.7%
17                 edouttime  categorical  Chi-square   5298.000000  4.857907e-01     0.000000       Cramer's V         Negligible        False          False        False               True                1766         57.7%
20                 charttime  categorical  Chi-square  11960.000000  4.879635e-01     0.000000       Cramer's V         Negligible        False          False        False               True                2990         97.7%
27           charttime_node4  categorical  Chi-square  11960.000000  4.879635e-01     0.000000       Cramer's V         Negligible        False          False        False               True                2990         97.7%

===========================================  RECOMMENDED FEATURES FOR PREDICTING INSURANCE ===========================================
                     Feature         Type  Effect Size Effect Size Name       p-value     Interpretation
1                 anchor_age    numerical     0.414274      Eta squared  0.000000e+00              Large
25          anchor_age_node3    numerical     0.414274      Eta squared  0.000000e+00              Large
33          anchor_age_node4    numerical     0.414274      Eta squared  0.000000e+00              Large
10         admit_provider_id  categorical     0.326876       Cramer's V  2.548827e-55  Relatively Strong
14            marital_status  categorical     0.196757       Cramer's V  1.189761e-61               Weak
12        discharge_location  categorical     0.170982       Cramer's V  3.904434e-52               Weak
13                  language  categorical     0.138284       Cramer's V  7.997707e-28               Weak
15                      race  categorical     0.131027       Cramer's V  3.407664e-20               Weak
22  blood_pressure_diastolic    numerical     0.036924      Eta squared  4.978064e-04              Small
28                hemoglobin    numerical     0.018907      Eta squared  6.460073e-10              Small
29                       wbc    numerical     0.010636      Eta squared  1.014487e-05              Small

## Results for classification :
Based on the missingness and the spearman/MI analysis of all features with each other, the resuts are :
- target column : <i>insurance</i>
- explanatory variables : <i>anchor_age</i> , <i>admit_provider_id</i>